Assignment 1

1. In the below elements which of them are values or an expression? e.g.:- values can be integers or strings and expressions will be mathematical operators.*, 'hello', -87.8, -, / , +, 6.

Answer 1). Values = ‘hello’, -87.8, 6.
Operators = *, -, ?, +.
Expression = *, -, ?, +, hello’, -87.8, 6.

2. What is the difference between string and variable?

Answer 2). 
Variable - Variable or identifier stores different types of information or data in the form of numbers, string, lists, and tuples.	

String - A string is a continuous set of information characters stored in a variable under quotations.

3. Describe three different data types.

Answer 3) There are multiple datatypes like Numeric, String, Sequence, Binary, set etc.

Numeric - It includes numeric values. Example	a = 1, b = 1.11,c = 3.14i etc. Types - Int, long, float, complex.

String - Set of characters that are presented in quotations. Example - Name = ‘Hello, my name is SIMMI’.

Tuple - A tuple is a sequence data type that stores different datatypes like int, float, string, etc. Example - Tup = (“Simmi”, 11, 23.5).

4. What is an expression made up of? What do all expressions do?

Answer 4). An expression is made up of variables, operators and operands. Operators are symbols that assign a function and operands are the values on which the operator acts and variables store the data. Ex - sum = 5 + 10, here, sum is a variable, 5 and 10 are operands, and ‘+’ is an operator. 

All expressions produce some value after being interpreted by python interpreter.

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement?

Answer 5). 
Expression - An expression is made up of variables, operators and operands. Operators are symbols that assign a function and operands are the values on which the operator acts and variables store the data. All expressions produce some value after being interpreted by python interpreter.	
EX – 
x = 5 y = 6
Sum = x + y
Here, x , y and sum are variables, 5 and 6 are values/operands and + is operator.


Statement - A statement is the smallest executable unit of code that creates a variable or displays a value. Every line of code that is written in a programming language is called a statement because all lines are executable by the interpreter.
EX – 
Spam = 10
print(Spam)
Here, first line is assignment statement that gives value to spam. And second line is print statement that displays value of spam.

6. After running the following code, what does the variable bacon
contain?

bacon = 22

bacon + 1

Answer 6). After running the code, the variable bacon contains 23. See execution below.

In [2]:
# Anwer 6). After running the code it contains 22
bacon = 22
bacon + 1

23

7. What should the values of the following two terms be?

'spam' + 'spamspam'

'spam' * 3
Answer 7). Both will have same output. see execution below.

In [ ]:
# Answer 7)-a
"spam" + "spamspam"

'spamspamspam'

In [ ]:
# 7)-b 
"spam"*3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

Answer 8). As per python,Variable names cannot begin with a number. The python rules for naming a variable are :-
Variable name must start with a letter or the underscore character.
Variable name cannot start with a number.
Variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, & _ ).
Variable names are case-sensitive (name, INEURON and ineuron are three different variables).
The reserved words(keywords) cannot be used naming the variable.
 
 See examples below.

In [6]:
# Answer 8).
eggs = 10
print(eggs)

10

In [7]:
# Answer 8).
100 = "eggs"
print(100)

SyntaxError: cannot assign to literal (1501535733.py, line 1)

9. What three functions can be used to get the integer, floating-point
number, or string version of a value?

Answer 9). The int(),float(),and str() functions will evaluate to the integer,floating-point number,string version respectively of the value passed to them.

See examples below.

In [9]:
# Q9) Following are the functions that reepresent integer, float and string
int(10)

10

In [10]:
float(20.5)

20.5

In [11]:
str("simmi")

'simmi'

10\. Why does this expression cause an error? How can you fix it?

'I have eaten ' + 99 + ' burritos.'

Answer 10). It will show error because string and integer cannot concatenate. We can fix this by converting integer 10 into string.

See execution below.

In [ ]:
# Answer 10)
"I have eaten" + 99 + "burritos"

TypeError: can only concatenate str (not "int") to str

In [12]:
# Answer 10) We can convert integer to string using double quotes
"I have eaten" + " 99 " + "burritos"

'I have eaten 99 burritos'